*{
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
}

body{
    height:100vh;
    background:url('https://images.unsplash.com/photo-1519681393784-d120267933ba') no-repeat center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.glass{
    width:350px;
    padding:40px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.4);
    background:rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    box-shadow:0 25px 45px rgba(92, 88, 88, 0.4);
    text-align:center;
}

.glass input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.4);
    background:rgba(255,255,255,0.3);
}

.glass button{
    width:100%;
    padding:12px;
    border:none;
    margin-top:15px;
    border-radius:10px;
    background:white;
    font-weight:bold;
    cursor:pointer;
}
.glass a{
    display:block;
    margin-top:10px;
}
.light{
    position:absolute;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, transparent 60%);
    animation: move 6s infinite linear;
    pointer-events:none;
}

@keyframes move{
    0%{ transform:translate(0,0); }
    50%{ transform:translate(50%,50%); }
    100%{ transform:translate(0,0); }
}

.glass{
    position:relative; /* مهم جدا عشان الـ span يشتغل */
    overflow:hidden;
}